.ds-dragzone,
.ds-dropzone {
  border-style: solid;
  min-height: 40px;
}

.ds-dragitem,
.ds-dropoption {
  position: relative;
  border-style: solid;
  margin: 4px;
  padding: 2px 4px;
}

.ds-dropzone[data-direction="horizontal"] > .ds-dropoption,
.ds-dropzone[data-direction="horizontal"] > .gu-transit {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: 3px 0 3px 3px;
}

span.ds-placeholder {
  position: absolute;
  padding: 6px 4px;
}

.ds-dropzone.gu-highlight {
  border-color: red;
}

.ds-dragitem,
.ds-dropzone .ds-dropoption {
  cursor: move;
}

.ds-dragitem.ds-selected,
.ds-dropoption.ds-selected {
  background-color: rgba(0.3, 0.3, 0.3, 0.3);
}

.ds-dropzone .ds-dropzone-options,
.ds-dropzone.ds-hidden .ds-dropoption,
.ds-dropzone.ds-hidden .ds-dragitem {
  display: none;
}

/* visibility and locking */
.ds-toggle-visible,
.ds-toggle-lock {
  color: #000;
  margin-left: 5px;
  float: right;
}

.ds-dropoption i.fa-lock-open,
.ds-dropoption i.fa-eye,
.ds-dropoption i.fa-lock,
.ds-dropoption i.fa-eye-slash {
  visibility: hidden;
}

.ds-dropoption:hover i.fa-lock-open,
.ds-dropoption:hover i.fa-eye,
.ds-dropoption:hover i.fa-lock,
.ds-dropoption:hover i.fa-eye-slash{
  visibility: visible;
}

.ds-invisible {
  opacity: 0.3;
}

.ds-locked {
  background: repeating-linear-gradient(
    45deg,
    #eee,
    #eee 10px,
    #999 10px,
    #999 20px
  );
}

.ds-toggle-visible > i,
.ds-toggle-lock > i {
  cursor: pointer;
  z-index: 1;
}

.fa-eye:hover:before {
  content: "\f070";
}

.fa-eye-slash:hover:before {
  content: "\f06e";
}

.fa-lock-open:hover:before {
  content: "\f023";
}

.fa-lock:hover:before {
  content: "\f3c1";
}

.gu-transit > .ds-toggle-visible,
.gu-mirror > .ds-toggle-visible,
.gu-transit > .ds-toggle-lock,
.gu-mirror > .ds-toggle-lock {
  display: none;
}
