.ds-dragzone,
.ds-dropzone {
  border-style: solid;
  min-height: 40px;
}

.ds-dragitem,
.ds-dropoption {
  position: relative;
  border-style: solid;
  margin: 4px;
  padding: 2px 4px;
}

span.ds-placeholder {
  position: absolute;
  padding: 6px 4px;
}

.ds-dropzone.gu-highlight {
  border-color: red;
}

.ds-dragitem,
.ds-dropzone .ds-dropoption {
  cursor: move;
}

.ds-dragitem.selected,
.ds-dropoption.selected {
  background-color: rgba(0.3, 0.3, 0.3, 0.3);
}

.ds-dropzone .ds-dropzone-options,
.ds-dropzone.ds-hidden .ds-dropoption,
.ds-dropzone.ds-hidden .ds-dragitem {
  display: none;
}

/* Visibility */
.visible {
  position: absolute;
  color: #000;
  top: 0px;
  right: 5px;
}

.ds-dropoption i {
  visibility: hidden;
}

.ds-dropoption:hover i {
  visibility: visible;
}

.inactive {
  opacity: 0.3;
}

.visible > i {
  cursor: pointer;
  z-index: 1;
}

.fa-eye {
  opacity: 1;
}

.fa-eye:hover {
  opacity: 0.3;
}

.fa-eye:hover:before {
    content: "\f070";
}

.fa-eye-slash {
  opacity: 0.3;
}

.fa-eye-slash:hover {
  opacity: 1.0;
}

.fa-eye-slash:hover:before {
  content: "\f06e";
}
